# Discord Bot Token - Get from https://discord.com/developers/applications
TOKEN=your_discord_bot_token_here

# Discord Client ID - Get from https://discord.com/developers/applications
CLIENT_ID=your_discord_client_id_here
